body {
    background: url("../images/background.jpg");
  }

.theTime {
    font-family: 'Orbitron', sans-serif;
    font-size: 33px;
    color: #FFE81F;
}

#start-button {
    font-size: 33px;
}

#start-button:hover {
    color: #827710;
    cursor: pointer;
}