body {
    background: url("../images/background.jpg");
  }

.orbitron {
    font-family: 'Orbitron', sans-serif;
    font-size: 33px;
    color: #FFE81F;
}

.russo {
    font-family: 'Russo One', sans-serif;
    color: #FFE81F;
}

.question {
    font-size: 18pt;
}

.answer {
    font-size: 14pt;
}

.score {
    font-size: 24pt;
}

#start-button:hover {
    color: #827710;
    cursor: pointer;
}

#finish-button:hover {
    color: #827710;
    cursor: pointer;
}

.navbar-fluid {
    background: url("../images/background.jpg");
}