body {
    background: url("../images/background.jpg");
  }

.theTime {
    font-family: 'Orbitron', sans-serif;
    font-size: 33px;
    color: #FFE81F;
}

#start-button {
    font-size: 33px;
}

#start-button:hover {
    color: #827710;
    cursor: pointer;
}

#question-form {
    font-family: 'Russo One', sans-serif;
    font-size: 16pt;
    color: #FFE81F;
}

#finish-button:hover {
    color: #827710;
    cursor: pointer;
}

.navbar-fluid {
    background: url("../images/background.jpg");
}